body {
  font-family: sans-serif;
  background: #222;
  color: white;
  text-align: center;
  padding: 50px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 25px;
  font-size: 18px;
  background: #00c9a7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #00b095;
}

.stop {
  padding: 15px 25px;
  font-size: 18px;
  background: crimson;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
